<h2>All the students!</h2>
<hr>
<div class="container">
<% for student in @students %>
  <p class="name">Name: <%= student.fancy_name() %></p>
  <p class="house">House: <%= student.house_info.name %></p>
  <p class="image"> <img src="<%= student.house_info.url%>" alt="House logo">  </p>
  <p class="age">Age: <%= student.age %></p>

  <form method="post" action="/students/<%= student.id %>/delete">
    <input type="submit" value="Delete student">
  </form>
  <hr />
<%end  %>
</div>
